*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Roboto,Arial,Sans-serif;
}
body{
    background-color:#f1f3f6;
}
.logo{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.logo a{
    color:white;
    font-size:0.7rem;
}
.logo span{
    color:#ffe500;
}